#titulo {
    background-color: hsl(251, 34%, 51%);
    color: #ffffff
}



h1 {
    font-family: 'Sigmar', cursive;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.1;
}

h2 {
    font-family: 'Montserrat';
    font-size: 3.0rem;
    font-weight: 800;
}

h3 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: rgb(44, 44, 44);
}

.container-fluid {
    padding: 3% 15%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.img-testimonio {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: 100;
}

.download-button {
    margin: 5% 3% 5% 0;
}



.title-image {
    width: 100%;
    transform: rotate(25deg);
    float: right;
}

#caracteristicas {
    padding: 7% 15%;
    background-color: #e68181;
 position: relative;
}

#testimonios {
    text-align: center;
    background-color: #fab44c;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

#prensa {
    background-color: hsl(251, 34%, 51%);
    text-align: center;
    padding-bottom: 3%;
}

#precios {
    padding: 100px;
    text-align: center;
}

#cta{
    background-color: hsl(251, 34%, 51%);
    color: #fff;
    padding: 7% 15%;
    text-align: center;
   }
.precios-col {
    padding: 3% 2%;
   }

.caja-caracteristica {
    text-align: center;
    padding: 5%;
}

.logo-prensa {
    width: 15%;
    margin: 20px 20px 50px;
}

.icon {
    font-size: 5rem;
    color: #f04040;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #9000f0;
}


    .title-image {
    position: static;
    transform: rotate(0);
    }

   #footer {

    padding: 7% 15%;
     text-align: center;
   }

   .social-icon{
    margin: px 10px;
   }


   .scale-up-bl {
	-webkit-animation: scale-up-bl 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bl 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
   @-webkit-keyframes scale-up-bl {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scale(3);
              transform: scale(3);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  @keyframes scale-up-bl {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  